

.form{
	color:#550080;
	border-width: 30px;
	border-radius: 40px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid var(--third-color);
	background-color: var(--secondry-color);
	width:1000px;
	max-width:1000px;
    box-shadow: 4px 4px 4px rgba(0.1, 0.1, 0.1, 0.5);
}
legend{margin-left:20px;
font-size:1.5em;

	color: var(--forth-color);
}


.cc {
	
	margin-top:30px;
	margin-left:20px;
	display:inline-block;
    margin-bottom: 10px;
}


#meal-name {
	width:400px;
	
	}
	
#cal { width:110px;}

#caldiv{
	margin-left:15px;
	}

.disimg {
    display: flex;
	margin-left:20px;
    margin-bottom: 10px;
}

#description {
	width:540px;
	max-width:540px;
	height:200px;
    margin-right: 15px;
}

#image-preview {
	margin-right:15px;
    height: 200px;
	border-radius: 10px;
	
    border: solid  var(--line-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}


#pri {
	
	margin-left:20px;
	margin-bottom:50px;
}

.Add{
	
    text-decoration: none;
	font-family:Georgia;
	padding: 5px 15px;
	color: var(--forth-color);
	
background-color:var(--primary-color);
	border: none ;
	
	border-color:var(--eaiteth-color);
	border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	float:right;
	margin-right:20px;
	margin-top:20px;
}



.meal-image{
	position:relative;

}

#meal-image{
	margin-left:150px;
}


.shadow {
	
	padding: 5px;
	background-color:var(--light-color);
    border: solid  var(--line-color);
	border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
label{
	
	
	color: var(--forth-color);
}

